@use '@styles/colors';

.list {
  max-width: 720px;
  display: grid;
  grid-template-columns: auto;
  grid-auto-rows: min-content;
  align-items: stretch;
  gap: 16px;
  margin-top: 32px;

  .divider {
    margin: 8px 0px;
    border-bottom: 1px solid colors.$bg-modifier-accent;
  }
}

.noResult {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: colors.$bg-secondary;
  padding: 80px 0px;

  h2 {
    margin: 32px 0px 8px 0px;
    color: colors.$white;
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
  }

  span {
    color: colors.$header-secondary;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400
  }
}