@use '@styles/colors';

.input {
  flex-grow: 1;
  padding: 12px 0px;
  caret-color: colors.$text-primary;
  color: colors.$text-primary;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: pre-wrap;
  line-height: 1.375rem;
  font-size: 16px;

  &:focus, &:focus-visible {
    outline: none;
  }

  & > div[data-slate-node="element"] {
    height: 22px;
  }
}