@use '@styles/colors';

.form {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  background-color: colors.$bg-textarea;
  margin: 0px 16px 24px 16px;
  border-radius: 8px;
}