@use '@styles/colors';

.form {
  display: grid;
  display: flex;
  background-color: colors.$bg-textarea;
  margin: 0px 16px 24px 16px;
  border-radius: 8px;

  & > div:not(:nth-child(2)) {
    flex-shrink: 0;
  }
}