@use '@styles/colors';

.container {
  background-color: colors.$bg-textarea;
  border-radius: 8px;
  margin: 0px 16px 24px 16px;
}

.form {
  display: flex;
  
  & > div:not(:nth-child(2)) {
    flex-shrink: 0;
  }
}