@use '@styles/colors';

.button {
  pointer-events: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 12px;
  background-color: colors.$text-secondary;
  margin: 0px 16px;
  cursor: pointer;

  label {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: inherit;
  }

  svg {
    width: 16px;
    height: 16px;
    
    path {
      stroke: colors.$bg-textarea;
    }
  }

  &:hover {
    background-color: colors.$text-primary;
  }
}