@use '@styles/colors';

.button {
  display: block;
  margin-top: 24px;

  > div:first-child {
    height: 38px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: colors.$brand-500;
    color: colors.$white;
    font-weight: 500;
    font-size: 14px;
    border-radius: 4px;
    padding: 0px 16px;

    &:hover {
      cursor: pointer;
      background-color: colors.$brand-560;
    }
  }
}