@use '@styles/colors';

.header {
  display: flex;
  align-items: center;

  h3 {
    flex-grow: 1;
    font-weight: 600;
    font-size: 12px;

    &:hover {
      color: colors.$text-primary;
    }
  }

  & {
    svg {
      width: 18px;
      height: 18px;
  
      path {
        color: colors.$text-muted;
      }
  
      &:hover {
        path {
          color: colors.$text-primary;
        }
      }
    }
  }

  .showHideButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4px;
  }

  .hide {
    transform: rotate(270deg);
  }
}