@use '@styles/colors';

.card {
  width: 340px;
  border-radius: 8px;
  overflow: hidden;
  background-color: colors.$bg-secondary-alt;

  .banner {
    position: relative;
    height: 60px;

    button {
      top: 12px;
      left: 16px;

      .wrapper {
        border: 4px solid colors.$bg-secondary-alt;
        background-color: colors.$bg-secondary-alt;
      }
    }
  }

  .content {
    margin: 16px;
    margin-top: 54px;
    border-radius: 8px;
    background-color: colors.$bg-floating;
    padding: 12px;
    display: flex;
    flex-direction: column;

    h1, h3 {
      color: colors.$header-primary;
      font-weight: 600;
      text-overflow: ellipsis;
    }

    span, p {
      color: colors.$text-primary;
      text-overflow: ellipsis;
      font-size: 14px;
      line-height: 18px;
    }

    p {
      width: inherit;
      word-break: break-all;
      overflow-wrap: break-word;
    }

    .separator {
      margin: 12px 0px;
      border-top: 1px solid colors.$bg-modifier-accent;
    }

    .section {
      padding-top: 12px;

      h3 {
        font-size: 12px;
        text-transform: uppercase;
        margin-bottom: 6px;
      }
    }
  }
}
