.header {
  h1 {
    font-weight: 600;
    word-break: break-word;
    font-size: 20px;
    line-height: 24px;
  }

  span {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
  }

  p {
    padding-top: 12px;
  }
}