@use '@styles/colors';

.wrapper {
  position: relative;
}

.container {
  position: fixed;
  bottom: 20px;
  border-radius: 6px;
  background-color: colors.$bg-floating;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px;
  padding-left: 16px;
  width: 700px;

  span {
    flex-grow: 1;
  }
  
  *, button {
    color: colors.$header-primary;
    font-weight: 500;
  }

  button {
    height: 32px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    padding: 0px 16px;

    &[type="submit"] {
      background-color: colors.$button-positive-bg;

      &:hover {
        background-color: colors.$button-positive-active;
      }
    }

    &[type="reset"]:hover {
      text-decoration: underline;
    }
  }
}