@use '@styles/colors';

.input {
  position: relative;
  display: flex;
  width: auto;
  height: auto;

  input {
    flex: 1;
    background-color: colors.$bg-tertiary;
    border-radius: 4px;
    color: colors.$text-primary;
    padding: 0px 8px;
    height: 30px;

    &::placeholder {
      color: colors.$text-muted;
    }
  }

  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;

    svg {
      width: 18px;
      height: 18px;
      color: colors.$text-primary;
    }
  }
}