# Dependency directory
**/node_modules

# Build directories
**/dist

# Logs
**/logs
**/*.log
**/npm-debug.log*

# Env files
.env
**/.env
**/.env.development
**/.env.production

# Editor directories and files
**/.vscode/*
**/!.vscode/extensions.json
.DS_Store
**/.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?