.info {
  display: flex;
  flex-direction: column;
  gap: 12px;

  h3 {
    margin-bottom: 8px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
  }

  p, span {
    font-size: 14px;
  }
}