@use '@styles/colors';

.banner {
  height: 120px;
  margin-bottom: 56px;
}

.content {
  margin: 16px;
  padding: 12px;
  border-radius: 8px;
  background-color: colors.$bg-floating;
  color: colors.$text-primary;

  p {
    width: inherit;
    font-size: 14px;
    word-break: break-all;
    overflow-wrap: break-word;
  }

  h4 {
    margin-bottom: 8px;
    font-size: 12px;
    font-weight: bold;
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.separator {
  height: 1px;
  background-color: colors.$bg-modifier-accent;
  margin: 12px 0px;
}