@use '@styles/colors';

.list {
  svg {
    width: 14px;
    height: 14px;
  }
  
  .addButton {
    padding: 4px 5px;
    background-color: colors.$bg-secondary-alt;
    border-radius: 4px;
    color: colors.$white;
  }
}