@use '@styles/colors';

.form {
  header {
    width: 100%;
    color: colors.$header-primary;
    margin-bottom: 24px;

    h3 {
      text-overflow: ellipsis;
      font-size: 16px;
      line-height: 1.25;
      font-weight: 600;
    }
  }
}