@use '@styles/sizes';
@use '@styles/colors';

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  padding: 24px 16px;
  background-color: colors.$not-quite-black;
  color: colors.$white;

  a {
    color: colors.$white;

    &.githubLink {
      font-weight: 600;
    }
  }

  > div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: sizes.$page-max-width;
    width: 100%;
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  .disclaimer {
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    font-style: italic;

    span {
      font-weight: bold;
    }
  }
}