@use '@styles/colors';

.header {
  display: grid;
  align-items: center;

  grid-template-columns: auto 1fr auto;
  padding: 8px;
  width: 100%;

  > div:first-child {
    display: flex;
    align-items: center;
    gap: 8px;

    h2 {
      color: colors.$white;
      font-size: 14px;
      font-weight: bold;
    }

    svg {
      margin-left: 8px;
    }

    g > path:first-child {
      fill: colors.$text-muted;
    }
  }

  > div:last-child {
    path {
      fill: colors.$text-muted;
    }
  }

  svg {
    width: 24px;
    height: 24px;
  }
}

.divider {
  width: 1px;
  height: 24px;
  margin: 0px 8px;
  background-color: colors.$bg-modifier-accent;
}