@use '@styles/colors';
@use '@styles/mixins';

.container {
  border: 1px solid colors.$bg-modifier-accent;
  border-radius: 4px;
  background-color: colors.$bg-primary;
  padding: 8px;
  width: 250px;

  .list {
    height: 230px;
    padding: 8px 0px;
    margin-top: 8px;

    @include mixins.invisible-scroller();
  }

  .noResult {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    text-align: center;

    h2 {
      color: colors.$white;
      font-size: 16px;
      line-height: 20px;
      font-weight: 600;
    }

    span {
      color: colors.$text-muted;
    }
  }
}