@use '@styles/colors';

.button {
  display: flex;
  align-items: center;
  margin: 2px 0px;
  padding: 6px 8px;
  border-radius: 4px;

  button {
    font-size: 14px;
    font-weight: 500;
    color: colors.$interactive-normal;
  }

  &:hover {
    background-color: colors.$bg-modifier-hover;

    button {
      color: colors.$interactive-hover;
    }

    .resetButton {
      background-color: colors.$interactive-hover;
    }
  }

  .editButton {
    display: block;
    width: 100%;
    text-align: left !important;
    flex-grow: 1;
  }

  .resetButton {
    width: 18px;
    height: 18px;
    border-radius: 18px;
    background-color: colors.$interactive-normal;
    display: flex;
    align-items: center;
    justify-content: center;
    
    svg {
      width: 12px;
      height: 12px;
      color: colors.$bg-floating !important;
    }
  }
}