@use '@styles/colors';
@use '@styles/mixins';

.wrapper {
  width: 100%;
  position: relative;
}

.container {
  background-color: colors.$bg-tertiary;
  border-radius: 4px;
  padding: 10px 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: colors.$text-primary;

  > svg {
    width: 24px;
    height: 24px;
    margin-left: 24px;

    &.open{
      transform: rotate(180deg);
    }
  }

  > *:nth-child(2) {
    flex-grow: 1;
    background-color: transparent;
  }

  input{
    caret-color: colors.$white;
    color: colors.$text-primary;
    font-size: 16px;
  }
}

.selector {
  position: absolute;
  left: 0;
  background-color: colors.$bg-secondary;
  border: 1px solid colors.$bg-tertiary;
  border-top: none;
  border-radius: 0px 0px 4px 4px;
  z-index: 2;
  max-height: 280px;

  @include mixins.scroller(colors.$bg-secondary, colors.$bg-tertiary, 8px, auto);

  .listItem {
    width: 100%;

    button {
      width: 100%;
      height: 40px;
      padding: 0px 12px;
      color: colors.$interactive-normal;
      font-weight: 500;
      font-size: 16px;
      display: flex;
      align-items: center;

      span {
        text-align: left;
        flex-grow: 1;
      }

      svg {
        width: 18px;
        height: 18px;
        
        path {
          fill: colors.$brand-500 !important;
        }

        circle {
          fill: colors.$white !important;
        }
      }

      &:hover {
        color: colors.$interactive-hover;
        background-color: colors.$bg-modifier-hover;
      }

      &.active {
        color: colors.$white !important;
        background-color: colors.$bg-modifier-selected !important;
      }
    }
  }
}

.avatar {
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  background-color: colors.$bg-secondary-alt;
  
  p {
    font-size: 8px !important;
    font-weight: normal !important;
  }
}