@use '@styles/colors';

.header {
  background-color: colors.$bg-floating;
  border-bottom: 1px solid colors.$bg-floating;
}

.container {
  flex-grow: 1;
  background-color: colors.$bg-floating;
  padding: 16px;
  padding-top: 0px;
  min-height: calc(200px - 16px);

  > *:first-child {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}