.layout {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: auto 1fr;

  .overflowWrapper {
    position: relative;
    
  }
}

.nav {
  min-height: 100vh;
  overflow-y: scroll;
  z-index: 2;
}

.content {
  z-index: 1;
}