@use '@styles/colors';
@use '@styles/mixins';

.layout {
  background-color: colors.$bg-primary;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  @include mixins.hover-scroller();

  flex-grow: 2.5;
  min-height: 100vh;
  background-color: colors.$bg-secondary;
  display: flex;
  justify-content: end;

  > div {
    width: 192px;
    padding: 60px 0px 60px 20px;
  }
}

.content {
  @include mixins.scroller();

  position: relative;
  flex-grow: 3;
  
  min-height: 100vh;

  > div {
    width: 660px;
    padding: 60px 32px 80px 40px;
  }
}

.closeButton {
  color: colors.$interactive-normal;
  position: absolute;
  top: 60px;
  left: 740px;

  .iconWrapper {
    > div {
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 36px;
      border: 2px solid colors.$interactive-normal;
      overflow: hidden;

      svg {
        width: 18px;
        height: 18px;

        path {
          fill: colors.$interactive-normal;
        }
      }
    }
  }

  p {
    margin-top: 8px;
    font-weight: 500;
    font-size: 14px;
  }

  &:hover {
    .iconWrapper > div {
      background-color: colors.$bg-modifier-hover;
      border-color: colors.$interactive-hover;
      
      svg path {
        fill: colors.$interactive-hover;
      }
    }

    p {
      color: colors.$interactive-hover;
    }
  }
}