@use '@styles/colors';

.layout {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: colors.$bg-primary;
}

.content {
  overflow: hidden scroll;
  margin-right: -200px;
  padding-right: 200px;
  pointer-events: none;

  > div {
    pointer-events: all;
  }
}