@use '@styles/colors';

.table {
  margin-top: 32px;
  width: 100%;

  tr {
    display: grid;
    grid-template-columns: 1fr 1fr 36px 56px;
    border-bottom: 1px solid colors.$bg-modifier-hover;
  }

  thead {
    tr {
      text-align: left;
      text-transform: uppercase;
      font-weight: bold;
      color: colors.$header-secondary;
      font-size: 12px;;

      th {
        margin-bottom: 8px;
      }
    }
  }
}

tr {
  &.noResult {
    color: colors.$header-secondary;
    border-bottom: none;
  
    td {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 16px 0px;
    }
  
    svg {
      width: 24px;
      height: 24px;
    }
  
    span {
      font-weight: 600;
    }
  }
}