@use '@styles/colors';

.table {
  margin-top: 32px;
  width: 100%;

  tr {
    display: grid;
    grid-template-columns: 1fr 1fr 36px 56px;
    border-bottom: 1px solid colors.$bg-modifier-hover;
  }

  thead {
    tr {
      text-align: left;
      text-transform: uppercase;
      font-weight: bold;
      color: colors.$header-secondary;
      font-size: 12px;;

      th {
        margin-bottom: 8px;
      }
    }
  }
}