@use '@styles/colors';

.wrapper {
  pointer-events: none !important;
}

.container {
  position: absolute;
}

.tooltip {
  position: relative;
  
  background: colors.$black;
  color: colors.$text-primary;
  font-size: 12px;
  font-weight: bold;
  padding: 8px;
  border-radius: 4px;

  &:before {
    content: "";
    display: block;
    position: absolute;
    border: 8px solid transparent;
    width: 0;
    height: 0;
    z-index: 1;
    pointer-events: none;

    &.top {
      margin-left: -8px;
      top: 100%;
      left: 50%;
      border-top-color: colors.$black colors.$black;
    }

    &.left {
      margin-top: -8px;
      top: 50%;
      left: 100%;
      border-left-color: colors.$black;
    }

    &.bottom {
      margin-left: -8px;
      bottom: 100%;
      left: 50%;
      border-bottom-color: colors.$black;
    }

    &.right {
      margin-top: -8px;
      top: 50%;
      right: 100%;
      border-right-color: colors.$black;
    }
  }
}