.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 16px;
}

.headerLinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}