@use '@styles/colors';

.header {
  background-color: colors.$blue;
  position: relative;
  z-index: 2;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 16px;
  }

  a {
    color: colors.$white;
    font-size: 14px;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }

  button {
    background-color: colors.$white;
    color: colors.$black;
    border-radius: 24px;
    padding: 8px 16px;

    &:hover {
      color: colors.$blue;
      filter: brightness(100%) !important;
    }
  }
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}