@use '@styles/colors';

.headlineBanner {
  position: relative;
  background: url('@assets/static/cta-background.svg') colors.$blue;
  background-position: bottom;
  color: white;

  h1 {
    font-size: 56px;
  }

  > div {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  svg {
    display: absolute;
    bottom: 0;
  }
}
