@use '@styles/colors';

.container {
  > * {
    display: inline-block;
  }

  > p {
    margin-left: 4px;
    color: colors.$text-muted;
    font-size: 10px;
    user-select: none;
  }

  a {
    color: colors.$text-link;

    &:hover {
      text-decoration: underline;
    }
  }

  div {
    max-width: 100%;

    span {
      overflow-wrap: break-word;
    }
  }
}