@use '@styles/fonts';

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

* {
  font-family: Whitney;
}

a {
  text-decoration: none;
}

fieldset {
  border: none;
}

button {
  border: none;
  background-color: transparent;

  &:hover {
    cursor: pointer;
  }
}