@use '@styles/colors';

.banner {
  height: 120px;
  position: relative;
  margin-bottom: 56px;

  .wrapper {
    position: absolute;
    bottom: -40px;
    left: 16px;
    width: 80px;
    height: 80px;
    border-radius: 80px;
    border: 6px solid colors.$bg-tertiary;

    > svg {
      width: 100%;
      height: 100%;
    }
  }
}

.content {
  margin: 16px;
  padding: 12px;
  border-radius: 8px;
  background-color: colors.$bg-floating;
  color: colors.$text-primary;
}