@use '@styles/colors';

.container {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .listItem {
    svg, svg * {
      fill: colors.$green;
      stroke: colors.$green;
    }

    height: 1000px;
  
    &:hover {
      background-color: colors.$green;
  
      svg, svg * {
        fill: white;
        stroke: white;
      }
    }
  }
}