@use '@styles/colors';

.container {
  h2 {
    color: colors.$header-primary;
    line-height: 24px;
    font-size: 20px;
    font-weight: 600;
  }

  .list {
    margin-top: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(248px, 1fr));
    gap: 16px;
  }

  .footer {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      margin-bottom: 8px;
    }

    span {
      color: colors.$header-primary;
      font-size: 16px;
      line-height: 20px;
      font-weight: 600;
    }

    > div {
      color: colors.$text-link;
      font-size: 14px;
      font-weight: 500;
      padding: 2px 4px;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}