@use '@styles/colors';

.card {
  display: flex;
  align-items: center;
  flex-grow: 1;
  height: 40px;
  padding: 2px 8px;
  border-radius: 4px;

  > *:first-child {
    margin-right: 12px;
  }

  > span {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 500;
    color: colors.$text-muted;
  }

  &:hover {
    background-color: colors.$bg-modifier-hover;

    > span {
      color: colors.$text-primary;
    }
  }
}

.crown {
  width: 14px;
  height: 14px;
  margin-left: 4px;
  
  path {
    fill: colors.$text-warning;
  }
}

.active {
  > span {
    color: colors.$interactive-active !important;
  }
  
  background-color: colors.$bg-modifier-active !important;
}