@use '@styles/colors';

.header {
  display: flex;
  align-items: center;
  gap: 8px;

  h3 {
    color: colors.$white;
    font-weight: 500;
    font-size: 1rem;

    &:hover {
      text-decoration: underline;
    }
  }

  p {
    font-size: 0.75rem;
    color: colors.$text-muted;
    font-weight: 500;
  }
}