@use '@styles/colors';

.container {
  position: absolute;
  overflow: hidden;
  height: 32px;
  display: flex;
  align-items: stretch;
  top: -16px;
  right: 12px;
  background-color: colors.$bg-primary;
  border: 1px solid colors.$bg-secondary-alt;
  border-radius: 4px;

  > * {
    &, button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2px 4px;
    }

    &:hover {
      background-color: colors.$bg-modifier-hover;

      path {
        fill: colors.$interactive-hover;
      }
    }
  }

  svg {
    width: 20px;
    height: 20px;

    path {
      fill: colors.$interactive-normal;
    }
  }
}