@use '@styles/mixins';

.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .content {
    padding-bottom: 24px;

    @include mixins.scroller();

    flex-grow: 1;

    .card {
      margin-right: 4px;
      padding: 2px 48px 4px 0px;
    }
  }
}