@use '@styles/colors';
@use '@styles/mixins';

.wrapper {
  display: flex;
  flex-direction: column;
  height: auto;
  max-height: calc(100vh - 80px) !important;
}

.header {
  text-align: left !important;
}

.content {
  flex-grow: 1;
  padding: 0px 8px 20px 16px;
  
  @include mixins.hover-scroller();
}

.submit {
  background-color: colors.$modal-footer-bg;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  button {
    min-width: 96px;
    height: 36px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: colors.$white;
    font-size: 14px;
    font-weight: 500;
    padding: 0px 16px;
  
    &:first-child {
      margin-right: 8px;

      &:hover {
        text-decoration: underline;
      }
    }

    &:last-child {
      background-color: colors.$button-danger-bg;

      &:hover {
        background-color: colors.$button-danger-active;
      }
    }
  }
}