@use '@styles/colors';

.container {
  position: relative;
  width: 240px;
  height: 48px;
  border-bottom: 1px solid colors.$bg-tertiary;
  display: flex;
  align-items: center;
  justify-content: stretch;

  .header {
    width: 100%;
    padding: 12px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .bannerContainer {
    position: absolute;
    top: 0;
    left: 0;
  }

  h2 {
    display: block;
    z-index: 2;
    color: colors.$white;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}