@use '@styles/colors';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
  padding-bottom: 16px;

  button {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    color: colors.$white;
    background-color: colors.$bg-secondary;

    &:hover {
      background-color: colors.$bg-tertiary;
    }

    &.active {
      background-color: colors.$white !important;
      color: colors.$black !important;
    }

    &.muteButton {
      background-color: colors.$white !important;
      color: colors.$black !important;

      &.active {
        color: colors.$white !important;
        background-color: colors.$bg-secondary !important;
      }
    }

    &.disconnectButton {
      background-color: colors.$red-430;

      &:hover {
        background-color: colors.$red-530;
      }
    }
  }

  svg {
    width: 24px;
    height: 24px;
  }
}