@use '@styles/colors';

.container {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
  background: linear-gradient(transparent, colors.$bg-floating);
  z-index: 5;
  padding-bottom: 16px;

  button {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    color: colors.$white;
    background-color: colors.$bg-secondary;

    &:hover {
      background-color: colors.$bg-tertiary;
    }

    &.muteButton:not(.muted) {
      background-color: colors.$white !important;
      color: colors.$black !important;
    }

    &.disconnectButton {
      background-color: colors.$red-430;

      &:hover {
        background-color: colors.$red-530;
      }
    }
  }

  svg {
    width: 24px;
    height: 24px;
  }
}