@use '@styles/colors';

.track {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
  box-sizing: border-box;

  &.speaking {
    border: 4px solid colors.$text-positive;
  }

  .info {
    position: absolute;
    bottom: 0;
  }

  .videoTrack {
    width: 100%;
    height: 100%;
  }
}