@use '@styles/colors';

.tile {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;

  audio {
    display: none;
  }
}

.track {
  position: relative;
  height: 100%;

  &.speaking {
    border: 4px solid colors.$text-positive;
  }

  .info {
    position: absolute;
    bottom: 0;
  }
}