@use 'sass:math';
@use 'sass:color';

$saturation-factor: 1;

$blue: #404EED;
$blurple: #5865F2;
$green: #248046;
$yellow: #FEE75C;
$fuchsia: #EB459E;
$red: #ED4245;
$white: #FFFFFF;
$black: #000000;
$off-white: #F6F6F6;
$not-quite-black: #23272A;

$primary-230: hsl(10 calc(var(--saturation-factor, 1) * 9.1%) 87.1%);
$primary-300: hsl(215 calc(var(--saturation-factor, 1) * 8.8%) 73.3%);

$primary: hsl(223 calc($saturation-factor * 6.7%) math.div(20.6%, 1));
$secondary: hsl(220 calc($saturation-factor * 6.5%) math.div(18%, 1));
$secondary-alt: hsl(228 calc($saturation-factor * 6.7%) math.div(14.7%, 1));
$tertiary: hsl(225 calc($saturation-factor * 6.3%) math.div(12.5%,1));

$interactive-normal: $primary-300;
$interactive-hover: $primary-230;

$bg-modifier-active: lighten($primary, 12%);
$bg-modifier-hover: lighten($primary, 5%);
$bg-modifier-selected: lighten($primary, 30%);