@use 'sass:math';
@use 'sass:color';

$saturation-factor: 1;

$blue: #404EED;
$blurple: #5865F2;
$green: #248046;
$yellow: #FEE75C;
$fuchsia: #EB459E;
$red: #ED4245;
$white: #FFFFFF;
$black: #000000;
$off-white: #F6F6F6;
$not-quite-black: #23272A;

$brand-360: hsl(235 calc($saturation-factor * 86.1%) 77.5%);
$brand-500: hsl(235 calc($saturation-factor * 85.6%) 64.7%);
$brand-560: hsl(235 calc($saturation-factor * 51.4%) 52.4%);

$primary-130: hsl(220 calc($saturation-factor * 13%) 95.5%);
$primary-230: hsl(10 calc($saturation-factor * 9.1%) 87.1%);
$primary-300: hsl(215 calc($saturation-factor * 8.8%) 73.3%);
$primary-330: hsl(215 calc($saturation-factor * 8.8%) 73.3%);
$primary-360: hsl(214 calc($saturation-factor * 8.1%) 61.2%);
$primary-400: hsl(223 calc($saturation-factor * 5.8%) 52.9%);
$primary-600: hsl(223 calc($saturation-factor * 6.7%) 20.6%);
$primary-630: hsl(220 calc($saturation-factor * 6.5%) 18%);
$primary-660: hsl(228 calc($saturation-factor * 6.7%) 14.7%);
$primary-700: hsl(225 calc($saturation-factor * 6.3%) 12.5%);

$bg-primary: $primary-600;
$bg-secondary: $primary-630;
$bg-secondary-alt: $primary-660;
$bg-tertiary: $primary-700;

$bg-modal: rgba(0, 0, 0, 0.85);

$bg-modifier-active: lighten($bg-primary, 8%);
$bg-modifier-hover: lighten($bg-primary, 2%);
$bg-modifier-selected: lighten($bg-primary, 6%);
$bg-modifier-accent: $bg-modifier-active;

$header-primary: $primary-130;
$header-secondary: $primary-330;
$header-muted: $primary-360;

$text-primary: $primary-230;
$text-secondary: $primary-330;
$text-muted: $primary-360;

$interactive-normal: $primary-300;
$interactive-hover: $primary-230;

