$whitney-font: 'Whitney' sans-serif;

@mixin font-url($name, $ext) {
  src: url('../fonts/${name}.${ext}') format($ext);
}

@font-face {
  font-family: $whitney-font;
  @include font-url('whitney_light', 'woff2');
  font-weight: 300;
}

@font-face {
  font-family: $whitney-font;
  @include font-url('whitney_light_italic', 'woff2');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: $whitney-font;
  @include font-url('whitney_book', 'woff2');
  font-weight: 400;
}

@font-face {
  font-family: $whitney-font;
  @include font-url('whitney_book_italic', 'woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: $whitney-font;
  @include font-url('whitney_medium', 'woff2');
  font-weight: 500;
}

@font-face {
  font-family: $whitney-font;
  @include font-url('whitney_medium_italic', 'woff2');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: $whitney-font;
  @include font-url('whitney_semibold', 'woff2');
  font-weight: 600;
}

@font-face {
  font-family: $whitney-font;
  @include font-url('whitney_semibold_italic', 'woff2');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: $whitney-font;
  @include font-url('whitney_bold', 'woff2');
  font-weight: bold;
}

@font-face {
  font-family: $whitney-font;
  @include font-url('whitney_bold_italic', 'woff2');
  font-weight: bold;
  font-style: italic;
}